In [33]:
import pandas as pd

In [34]:
# Write out the parcel IDs and addresses to upload for geocoding using:
# https://geocoding.geo.census.gov/geocoder/geographies/addressbatch?form
# Choose "Census2010_Current" as these tract IDs match the CEJST data
address_df = pd.read_csv(r"C:/Users/ltaylor2/NREL/Building Performance Standards TA - Equity Analysis/Data Analysis/CoStar Data/PropertyAndTenantDataCombined.csv")
address_df_filtered = address_df[['Address','City', 'State', 'Zip']]
print(address_df_filtered)
address_df_filtered.to_csv(r"C:\Users\ltaylor2\Documents\BPS Charts\aurora_addresses_for_geocoding.csv",header=False)

C:\Users\ltaylor2\AppData\Local\Temp\1\ipykernel_18508\2781836909.py:4: DtypeWarning: Columns (5,6,22,23,40,48,53,54,69,77,88,90,106,107,108,109,110,111,112,113,122,152,153,163,166,169,170,177,180,183,186,187,190,191,194,195,208,211,251,255,257,258,264,265,266,267,289,296,298,299,305,306,307,308,330,332,337,338,339,340,346,349,359,360,365,371,373,379,380,381,387,388,389,390,400,401,406,412,414,418,419,421,422,425,428,431,434,441,442,447,451,453,455,459,460,461,462,463,469,472,482,483,487,494,496,500,501,502,503,504,505,506,507,508,510,513,514,515,516,517,518,519,520,521,522,523,524,527,528,529,530,532,533,534,535,536,537,538,541,542,543,544,545,546,547,548,549,551,554,555,556,557,558,559,560,561,562,563,564,565,568,569,570,571,573,574,575,576,577,578,579,582,583,584,585,586,587,588,589,590,592,595,596,597,598,599,600,601,602,603,604,605,606,609,610,611,612,614,615,616,617,618,619,620,623,624,625,626,627,628,629,630,631,633,636,637,638,639,640,641,642,643,644,645,646,647,650,651,652,653,655,656,657,658,659,660,661,664,665,666,667,668,669,670,671,672,677,678,679,680,681,682,683,684,685,686,687,688,691,692,693,694,696,697,698,699,700,701,702,705,706,707,708,709,710,711,712,713,715,718,719,720,721,722,723,724,725,726,727,728,729,732,733,734,735,737,738,739,740,741,743,746,747,748,749,750,751,752,753,754,756,759,760,761,762,763,764,765,766,767,768,769,770,773,774,775,776,778,779,780,781,782,783,784,787,788,789,790,791,792,793,794,795,797,800,801,802,803,804,805,806,807,808,809,810,811,814,815,816,817,819,820,821,822,823,824,825,828,829,830,831,832,833,834,835,836,838,841,842,843,844,845,846,847,848,849,850,851,852,855,856,857,858,860,861,862,863,864,865,866,869,870,871,872,873,874,875,876,877,879,882,883,884,885,886,887,888,889,890,891,892,893,896,897,898,899,901,902,903,904,905,907,910,911,912,913,914,915,916,917,918,923,924,925,926,927,928,929,930,931,932,933,934,937,938,939,940,942,943,944,945,946,947,948,951,952,953,954,955,956,957,958,959,964,965,966,967,968,969,970,971,972,973,974,975,978,979,980,981,983,984,985,986,987,989,992,993,994,995,996,997,998,999,1000,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1019,1020,1021,1022,1024,1025,1026,1027,1028,1029,1030,1033,1034,1035,1036,1037,1038,1039,1040,1041,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1060,1061,1062,1063,1065,1066,1067,1068,1069,1071,1074,1075,1076,1077,1078,1079,1080,1081,1082,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1101,1102,1103,1104,1106,1107,1108,1109,1110,1111,1112,1115,1116,1117,1118,1119,1120,1121,1122,1123,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1142,1143,1144,1145,1147,1148,1149,1150,1151,1153,1156,1157,1158,1159,1160,1161,1162,1163,1164,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1183,1184,1185,1186,1188,1189,1190,1191,1192,1194,1197,1198,1199,1200,1201,1202,1203,1204,1205,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1224,1225,1226,1227,1229,1230,1231,1232,1233,1235,1238,1239,1240,1241,1242,1243,1244,1245,1246,1252,1253,1254,1255,1256,1257,1258,1259,1260,1265,1266,1267,1268,1270,1271,1272,1273,1274,1276,1279,1280,1281,1282,1283,1284,1285,1286,1287,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1306,1307,1308,1309,1311,1312,1313,1314,1315,1317,1320,1321,1322,1323,1324,1325,1326,1327,1328,1334,1335,1336,1337,1338,1339,1340,1341,1342,1347,1348,1350,1352,1353,1354,1355,1356,1358,1361,1362,1363,1364,1365,1366,1367,1368,1369,1375,1376,1377,1378,1379,1380,1381,1382,1383,1388,1389,1390,1391,1393,1394,1395,1396,1397,1399,1402,1403,1404,1405,1406,1407,1408,1409,1410,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1429,1430,1431,1432,1434,1435,1436,1437,1438,1440,1445,1446,1447,1448,1449,1450,1451,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1470,1471,1472,1473,1475,1476,1477,1478,1479,1481,1484,1486,1487,1488,1489,1490,1491,1492,1498,1499,1500,1501,1502,1503,1504,1505,1506,1511,1512,1513,1514,1516,1517,1518,1519,1520,1522,1525,1526,1527,1528,1529,1530,1531,1532,1533,1539,1540,1541,1542,1543,1544,1545,1546,1547,1552,1553,1555,1557,1558,1559,1560,1561,1563,1566,1567,1568,1569,1570,1571,1572,1573,1574,1580,1581,1582,1583,1584,1585,1586,1587,1588,1593,1594,1596,1598,1599,1600,1601,1602,1604,1607,1608,1609,1610,1611,1612,1613,1614,1615,1621,1622,1623,1624,1625,1626,1627,1628,1629,1634,1635,1636,1637,1639,1640,1641,1642,1643,1645,1648,1649,1650,1651,1652,1653,1654,1655,1656,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1675,1676,1677,1678,1680,1681,1682,1683,1684,1686,1689,1691,1692,1693,1694,1695,1696,1697,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1716,1717,1718,1719,1721,1722,1723,1724,1725,1727,1730,1731,1732,1733,1734,1735,1736,1737,1738,1744,1745,1746,1747,1748,1749,1750,1751,1752,1757,1758,1760,1762,1763,1764,1765,1766,1768,1771,1772,1773,1774,1775,1776,1777,1778,1779,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1798,1799,1800,1801,1803,1804,1805,1806,1807,1809,1812,1813,1814,1815,1816,1817,1818,1819,1820,1826,1827,1828,1829,1830,1831,1832,1833,1834,1839,1840,1842,1844,1845,1846,1847,1848,1850,1853,1854,1855,1856,1857,1858,1859,1860,1861,1867,1868,1869,1870,1871,1872,1873,1874,1875,1880,1881,1883,1885,1886,1887,1889,1891,1896,1897,1898,1899,1900,1901,1902,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1921,1922,1923,1924,1926,1927,1928,1929,1930,1932,1935,1936,1937,1938,1939,1940,1941,1942,1943,1949,1950,1951,1952,1953,1954,1955,1956,1957,1962,1963,1965,1967,1968,1969,1970,1971,1973,1976,1977,1978,1979,1980,1981,1982,1983,1984,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2003,2004,2005,2006,2008,2009,2010,2011,2012,2014,2019,2020,2021,2022,2023,2024,2025,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2044,2045,2046,2047,2049,2050,2051,2052,2053,2055,2058,2059,2060,2061,2062,2063,2064,2065,2066,2072,2073,2074,2075,2076,2077,2078,2079,2080,2085,2086,2088,2090,2091,2092,2093,2094,2096,2099,2100,2101,2102,2103,2104,2105,2106,2107,2113,2114,2115,2116,2117,2118,2119,2120,2121,2126,2127,2129,2131,2132,2133,2134,2135,2137,2142,2143,2144,2145,2146,2147,2148,2154,2155,2156,2157,2158,2159,2160,2161,2162,2167,2168,2170,2172,2173,2174,2175,2176,2178,2183,2184,2185,2186,2187,2188,2189,2195,2196,2197,2198,2199,2200,2201,2202,2203,2208,2209,2211,2213,2214,2215,2216,2217,2219,2222,2223,2224,2225,2226,2227,2228,2229,2230,2236,2237,2238,2239,2240,2241,2242,2243,2244,2249,2250,2252,2254,2255,2256,2257,2258,2260,2263,2264,2265,2266,2267,2268,2269,2270,2271,2277,2278,2279,2280,2281,2282,2283,2284,2285,2290,2291,2293,2295,2296,2297,2298,2299,2301,2306,2307,2308,2309,2310,2311,2312,2318,2319,2320,2321,2322,2323,2324,2325,2326,2331,2332,2334,2336,2337,2338,2339,2340,2342,2345,2346,2347,2348,2349,2350,2351,2352,2353,2359,2360,2361,2362,2363,2364,2365,2366,2367,2372,2373,2375,2377,2378,2379,2380,2381,2383,2388,2390,2391,2392,2393,2394,2400,2401,2402,2403,2404,2405,2406,2407,2408,2413,2414,2416,2418,2419,2420,2421,2422,2424,2427,2428,2429,2431,2432,2433,2434,2435,2441,2442,2443,2444,2445,2446,2447,2448,2449,2454,2455,2457,2459,2460,2461,2462,2463,2465,2468,2469,2470,2472,2473,2474,2475,2476,2482,2483,2484,2485,2486,2487,2488,2489,2490,2495,2496,2498,2500,2501,2502,2503,2504,2506,2511,2513,2514,2515,2516,2517,2523,2524,2525,2526,2527,2528,2529,2530,2531,2536,2537,2539,2541,2542,2543,2544,2545,2547,2552,2554,2555,2556,2557,2558,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2577,2578,2579,2580,2582,2583,2584,2586,2588,2593,2595,2596,2597,2598,2599,2605,2606,2607,2608,2609,2610,2611,2612,2613,2618,2619,2621,2623,2624,2625,2627,2629,2634,2636,2637,2638,2639,2640,2646,2647,2648,2649,2650,2651,2653,2654,2659,2660,2662,2664,2665,2666,2668,2670,2675,2677,2678,2679,2681,2687,2688,2689,2690,2691,2692,2693,2694,2695,2700,2701,2703,2705,2706,2707,2709,2711,2716,2718,2719,2720,2721,2722,2728,2729,2730,2731,2732,2733,2734,2735,2736,2741,2742,2744,2746,2747,2748,2749,2750,2752,2757,2759,2760,2761,2763,2769,2770,2771,2772,2773,2774,2775,2776,2777,2782,2783,2785,2787,2788,2789,2791,2793,2796,2797,2798,2800,2801,2802,2804,2810,2811,2812,2813,2814,2815,2816,2817,2818,2823,2824,2826,2828,2829,2830,2832,2834,2839,2841,2842,2843,2845,2851,2852,2853,2854,2855,2856,2857,2858,2859,2864,2865,2867,2869,2870,2871,2873,2875,2878,2879,2880,2882,2883,2884,2886,2892,2893,2894,2895,2896,2897,2898,2899,2900,2905,2906,2908,2910,2911,2912,2914,2916,2921,2923,2924,2925,2926,2927,2933,2934,2935,2936,2937,2938,2939,2940,2941,2946,2947,2949,2951,2952,2953,2955,2957,2962,2964,2965,2966,2967,2968,2974,2975,2976,2977,2978,2979,2980,2981,2982,2987,2988,2990,2992,2993,2994,2996,2998,3003,3005,3006,3007,3008,3009,3015,3016,3017,3018,3019,3020,3021,3022,3023,3028,3029,3031,3033,3034,3035,3037,3039,3044,3046,3047,3048,3050,3056,3057,3058,3059,3060,3061,3062,3063,3064,3069,3070,3072,3074,3075,3076,3078,3080,3085,3087,3088,3089,3090,3091,3097,3098,3099,3100,3101,3102,3103,3104,3105,3110,3111,3113,3115,3116,3117,3119,3121,3124,3125,3126,3128,3129,3130,3132,3138,3139,3140,3141,3142,3143,3144,3145,3146,3151,3152,3154,3156,3157,3158,3160,3162,3167,3169,3170,3171,3172,3173,3179,3180,3181,3182,3183,3184,3185,3186,3187,3192,3193,3195,3197,3198,3199,3201,3203,3208,3210,3211,3212,3214,3220,3221,3222,3223,3224,3225,3226,3227,3228,3233,3234,3236,3238,3239,3240,3242,3244,3249,3251,3252,3253,3255,3261,3262,3263,3264,3265,3266,3267,3268,3269,3274,3275,3277,3279,3280,3281,3283,3285,3290,3292,3293,3294,3296,3302,3303,3304,3305,3306,3307,3308,3309,3310,3315,3316,3318,3320,3321,3322,3324,3326,3329,3330,3331,3333,3334,3335,3337,3343,3344,3345,3346,3347,3348,3349,3350,3351,3352,3353,3356,3357,3358,3359,3361,3362,3363,3365,3367,3372,3374,3375,3376,3377,3378,3384,3385,3386,3387,3388,3389,3390,3391,3392,3397,3398,3400,3402,3403,3404,3405,3406,3408,3411,3412,3413,3415,3416,3417,3418,3419,3425,3426,3427,3428,3429,3430,3431,3432,3433,3438,3439,3441,3443,3444,3445,3447,3449,3454,3456,3457,3458,3459,3460,3466,3467,3468,3469,3470,3471,3472,3473,3474,3479,3480,3482,3484,3485,3486,3488,3490,3495,3497,3498,3499,3500,3501,3507,3508,3509,3510,3511,3512,3513,3514,3515,3520,3521,3523,3525,3526,3527,3528,3529,3531,3536,3538,3539,3540,3542,3548,3549,3550,3551,3552,3553,3554,3555,3556,3561,3562,3564,3566,3567,3568,3570,3572,3577,3579,3580,3581,3583,3589,3590,3591,3592,3593,3594,3595,3596,3597,3602,3603,3605,3607,3608,3609,3611,3613,3618,3620,3621,3622,3623,3624,3630,3631,3632,3633,3634,3635,3636,3637,3638,3643,3644,3646,3648,3649,3650,3652,3654,3659,3661,3662,3663,3664,3665,3671,3672,3673,3674,3675,3676,3677,3678,3679,3684,3685,3687,3689,3690,3691,3692,3693,3695,3700,3702,3703,3704,3706,3712,3713,3714,3715,3716,3717,3718,3719,3720,3725,3726,3728,3730,3731,3732,3734,3736,3741,3743,3744,3745,3746,3747,3753,3754,3755,3756,3757,3758,3759,3760,3761,3766,3767,3769,3771,3772,3773,3775,3777,3784,3785,3786,3787,3788,3794,3795,3796,3797,3798,3799,3800,3801,3802,3807,3810,3812,3813,3814,3816,3818,3821,3822,3825,3826,3827,3828,3829,3835,3836,3837,3838,3839,3840,3841,3842,3843,3848,3851,3853,3854,3855,3857,3859,3862,3866,3867,3868,3869,3870,3876,3877,3878,3879,3880,3881,3882,3883,3884,3889,3892,3894,3895,3896,3898,3900,3907,3908,3909,3910,3911,3917,3918,3919,3920,3921,3922,3923,3924,3925,3930,3933,3935,3936,3937,3938,3939,3941,3948,3949,3950,3952,3958,3959,3960,3961,3962,3963,3964,3965,3966,3971,3974,3976,3977,3978,3980,3982,3989,3990,3991,3992,3993,3999,4000,4001,4002,4003,4004,4005,4006,4007,4012,4015,4017,4018,4019,4020,4021,4023,4028,4030,4031,4032,4034,4036,4040,4041,4043,4044,4045,4046,4047,4048,4053,4054,4056,4058,4059,4060,4062,4064) have mixed types. Specify dtype option on import or set low_memory=False.
  address_df = pd.read_csv(r"C:/Users/ltaylor2/NREL/Building Performance Standards TA - Equity Analysis/Data Analysis/CoStar Data/PropertyAndTenantDataCombined.csv")

                      Address    City State         Zip
0       16700-16798 E 2nd Ave  Aurora    CO  80011-9302
1             9655 E 25th Ave  Aurora    CO       80010
2            10255 E 25th Ave  Aurora    CO  80010-1255
3            20100 E 32nd Pky  Aurora    CO  80011-8181
4            3155 Chambers Rd  Aurora    CO       80011
...                       ...     ...   ...         ...
3179  7777 S Country Club Pky  Aurora    CO       80016
3180      10110 E Golfers Way  Aurora    CO  80010-4300
3181        13521 E Iliff Ave  Aurora    CO  80014-1317
3182       26000 E Quincy Ave  Aurora    CO       80016
3183          810 S Havana St  Aurora    CO  80012-3016

[3184 rows x 4 columns]

In [35]:
# After manually uploading the geocoded addresses,
# read the returned file. Column names per census.gov documentation.
geocode_cols = [
    'NREL_ID',
    'Input Address',
    'TIGER Address Range Match Indicator',
    'TIGER Match Type',
    'TIGER Output Address',
    'LongitudeAndLatitude',
    'Tigerline ID',
    'Tigerline ID Side',
    'State',
    'County',
    'Tract',
    'Block'
]

geo = pd.read_csv(r"C:\Users\ltaylor2\Documents\BPS Charts\GeocodeResults.csv", names=geocode_cols, dtype=object)
geo['NREL_ID'] = geo['NREL_ID'].astype('int64')
geo.set_index('NREL_ID', inplace=True)

# Check the number of projects with matches vs. no matches
print('Geocoding address matching results:')
print(geo['TIGER Address Range Match Indicator'].value_counts())

# Save the unmatched addresses to CSV for investigation
geo[~(geo['TIGER Address Range Match Indicator'] == 'Match')].to_csv(r"C:\Users\ltaylor2\Documents\BPS Charts\'unmatched_parcel_addresses.csv")

# Limit the geocode to just 
geo = geo[geo['TIGER Address Range Match Indicator'] == 'Match']
geo

Geocoding address matching results:
TIGER Address Range Match Indicator
Match       2950
No_Match     211
Tie           23
Name: count, dtype: int64

,Input Address,TIGER Address Range Match Indicator,TIGER Match Type,TIGER Output Address,LongitudeAndLatitude,Tigerline ID,Tigerline ID Side,State,County,Tract,Block
NREL_ID,,,,,,,,,,,
2306,"290 S Havana St, Aurora, CO, 80012-1026",Match,Non_Exact,"290 S HAVANA ST, AURORA, CO, 80012","-104.86589099099996,39.71211425300004",177343045,L,08,005,007703,3014
2305,"92 S Havana St, Aurora, CO, 80012",Match,Exact,"92 S HAVANA ST, AURORA, CO, 80012","-104.86587976299995,39.71493833400007",177343044,L,08,005,007703,3010
2304,"475 N Havana St, Aurora, CO, 80010-4318",Match,Non_Exact,"475 HAVANA ST, AURORA, CO, 80010","-104.86599341099998,39.72295126400007",177342951,L,08,005,007201,2000
2303,"465 N Havana St, Aurora, CO, 80010",Match,Non_Exact,"465 HAVANA ST, AURORA, CO, 80010","-104.86599412699996,39.72275231400005",177342951,L,08,005,007201,2000
2302,"1440 Havana St, Aurora, CO, 80010",Match,Exact,"1440 HAVANA ST, AURORA, CO, 80010","-104.86573896699997,39.73907645600008",177314263,R,08,005,007302,4005
...,...,...,...,...,...,...,...,...,...,...,...
1896,"1704-1756 S Chambers Rd, Aurora, CO, 80017-5023",Match,Non_Exact,"1756 S CHAMBERS RD, AURORA, CO, 80017","-104.80982331099995,39.68463820800008",177538964,L,08,005,082300,3000
1895,"1700-1702 S Chambers Rd, Aurora, CO, 80017-5023",Match,Non_Exact,"1702 S CHAMBERS RD, AURORA, CO, 80017","-104.80982073599995,39.685598592000076",177538964,L,08,005,082300,3000
1894,"1650-1688 S Chambers Rd, Aurora, CO, 80017",Match,Non_Exact,"1688 S CHAMBERS RD, AURORA, CO, 80017","-104.80981900099994,39.68609821300004",177549852,L,08,005,082200,3009
1893,"1190 S Chambers Rd, Aurora, CO, 80017-4047",Match,Non_Exact,"1190 S CHAMBERS RD, AURORA, CO, 80017","-104.80979749799997,39.69482078400006",177354778,L,08,005,082200,3001
1892,"1180 S Chambers Rd, Aurora, CO, 80017-4047",Match,Non_Exact,"1180 S CHAMBERS RD, AURORA, CO, 80017","-104.80979706499994,39.69501205000006",177354778,L,08,005,082200,3001

In [36]:
# Join the geographic data onto the parcel data by NREL ID
nonres = pd.merge(address_df_filtered, geo, left_index=True, right_index=True)
nonres.head()

,Address,City,State_x,Zip,Input Address,TIGER Address Range Match Indicator,TIGER Match Type,TIGER Output Address,LongitudeAndLatitude,Tigerline ID,Tigerline ID Side,State_y,County,Tract,Block
0,16700-16798 E 2nd Ave,Aurora,CO,80011-9302,"16700-16798 E 2nd Ave, Aurora, CO, 80011-9302",Match,Non_Exact,"16798 E 2ND AVE, AURORA, CO, 80011","-104.79353017099999,39.719276456000046",177398310,R,08,005,082000,2009
1,9655 E 25th Ave,Aurora,CO,80010,"9655 E 25th Ave, Aurora, CO, 80010",Match,Exact,"9655 E 25TH AVE, AURORA, CO, 80010","-104.87575432699998,39.752951867000036",177313882,L,08,001,007900,2000
2,10255 E 25th Ave,Aurora,CO,80010-1255,"10255 E 25th Ave, Aurora, CO, 80010-1255",Match,Non_Exact,"10255 E 25TH AVE, AURORA, CO, 80010","-104.86871858399996,39.75296086600008",177314116,L,08,001,007900,1005
3,20100 E 32nd Pky,Aurora,CO,80011-8181,"20100 E 32nd Pky, Aurora, CO, 80011-8181",Match,Non_Exact,"20100 E 32ND PKWY, AURORA, CO, 80011","-104.75202114799998,39.75874649100007",177404898,R,08,001,008354,1098
4,3155 Chambers Rd,Aurora,CO,80011,"3155 Chambers Rd, Aurora, CO, 80011",Match,Exact,"3155 CHAMBERS RD, AURORA, CO, 80011","-104.81019305499996,39.76104770000006",177431682,L,08,001,008308,1010

In [37]:
# Strip the 0 from the front of state_y values
nonres['State_y'] = nonres ['State_y'].str.lstrip('0')
print(nonres['State_y'])

# Combine the State, County, and Tract into a single field
def census_tract_id(row):
    # STATE+COUNTY+TRACT
    # 2+3+6=11
    state = row['State_y']
    county = row['County']
    tract = row['Tract']
    gisjoin = f'{state}{county}{tract}'

    if not (len(gisjoin) == 10 or len(gisjoin) == 11):
        print(f'Failed to make census ID for state:{state}, county:{county}, tract:{tract}')
        return pd.NA
        
    # assert(len(gisjoin) == 11)

    return gisjoin

nonres['census_tract_id'] = nonres.apply(lambda row: census_tract_id(row), axis=1)
nonres['census_tract_id'].value_counts()

0       8
1       8
2       8
3       8
4       8
       ..
3178    8
3179    8
3181    8
3182    8
3183    8
Name: State_y, Length: 2950, dtype: object

census_tract_id
8005007302    260
8001008309    215
8001007801    164
8001007900    135
8005080400    123
             ...
8031003603      1
8005007109      1
8005086002      1
8035013912      1
8005007113      1
Name: count, Length: 103, dtype: int64

In [38]:
# Load the EEEJ
cejst = pd.read_csv(r"C:\Users\ltaylor2\Documents\BPS Charts\1.0-communities.csv", low_memory=False, dtype=object)
cejst

,Census tract 2010 ID,County Name,State/Territory,Percent Black or African American alone,Percent American Indian / Alaska Native,Percent Asian,Percent Native Hawaiian or Pacific,Percent two or more races,Percent White,Percent Hispanic or Latino,...,Percent individuals age 25 or over with less than high school degree,Percent of residents who are not currently enrolled in higher ed,Unemployment (percent) in 2009 (island areas) and 2010 (states and PR),Percentage households below 100% of federal poverty line in 2009 (island areas) and 2010 (states and PR),Greater than or equal to the 90th percentile for unemployment and has low HS education in 2009 (island areas)?,Greater than or equal to the 90th percentile for households at or below 100% federal poverty level and has low HS education in 2009 (island areas)?,Greater than or equal to the 90th percentile for low median household income as a percent of area median income and has low HS education in 2009 (island areas)?,Number of Tribal areas within Census tract for Alaska,Names of Tribal areas within Census tract,Percent of the Census tract that is within Tribal areas
0,1001020100,Autauga County,Alabama,0.07,0,0,0,0.07,0.83,0.01,...,12,91,2,10,FALSE,FALSE,FALSE,NaN,NaN,NaN
1,1001020200,Autauga County,Alabama,0.57,0,0,0.01,0.02,0.38,0.01,...,14,96,5,14,FALSE,FALSE,FALSE,NaN,NaN,NaN
2,1001020300,Autauga County,Alabama,0.24,0,0,0,0.02,0.65,0.06,...,14,97,5,8,FALSE,FALSE,FALSE,NaN,NaN,NaN
3,1001020400,Autauga County,Alabama,0.05,0,0,0,0.03,0.89,0.01,...,8,94,3,6,FALSE,FALSE,FALSE,NaN,NaN,NaN
4,1001020500,Autauga County,Alabama,0.18,0,0.03,0,0.02,0.7,0.04,...,7,94,2,5,FALSE,FALSE,FALSE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74129,78030960900,NaN,Virgin Islands,0.76,0,0.03,NaN,0.01,0.14,0.1,...,NaN,NaN,10,21,FALSE,FALSE,FALSE,NaN,NaN,NaN
74130,78030961000,NaN,Virgin Islands,0.85,0,0.01,NaN,0.01,0.07,0.2,...,NaN,NaN,10,27,FALSE,FALSE,FALSE,NaN,NaN,NaN
74131,78030961100,NaN,Virgin Islands,0.89,0,0.02,NaN,0,0.05,0.11,...,NaN,NaN,7,28,FALSE,FALSE,FALSE,NaN,NaN,NaN
74132,78030961200,NaN,Virgin Islands,0.9,0,0,NaN,0.01,0.04,0.14,...,NaN,NaN,11,29,FALSE,FALSE,TRUE,NaN,NaN,NaN
74133,78030990000,NaN,Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,FALSE,FALSE,FALSE,NaN,NaN,NaN

In [39]:
# Merge CEJST data on census tract ID
bef = len(nonres)
print(f'Before joining CEJST on geographies, Nonres had {bef} entries')

nonres = pd.merge(nonres, cejst, left_on='census_tract_id', right_on='Census tract 2010 ID', how='inner')

aft = len(nonres)
print(f'After joining CEJST on census geographies, Nonres had {aft} entries')
nomatch = bef - aft
if nomatch > 0:
    print(f'This means there were {nomatch} census geographies not matched. If this number is high, make sure you choose "Census2010_current on the geocoding site.')

nonres.index.name = 'NREL_ID'

nonres

Before joining CEJST on geographies, Nonres had 2950 entries
After joining CEJST on census geographies, Nonres had 2598 entries
This means there were 352 census geographies not matched. If this number is high, make sure you choose "Census2010_current on the geocoding site.

,Address,City,State_x,Zip,Input Address,TIGER Address Range Match Indicator,TIGER Match Type,TIGER Output Address,LongitudeAndLatitude,Tigerline ID,...,Percent individuals age 25 or over with less than high school degree,Percent of residents who are not currently enrolled in higher ed,Unemployment (percent) in 2009 (island areas) and 2010 (states and PR),Percentage households below 100% of federal poverty line in 2009 (island areas) and 2010 (states and PR),Greater than or equal to the 90th percentile for unemployment and has low HS education in 2009 (island areas)?,Greater than or equal to the 90th percentile for households at or below 100% federal poverty level and has low HS education in 2009 (island areas)?,Greater than or equal to the 90th percentile for low median household income as a percent of area median income and has low HS education in 2009 (island areas)?,Number of Tribal areas within Census tract for Alaska,Names of Tribal areas within Census tract,Percent of the Census tract that is within Tribal areas
NREL_ID,,,,,,,,,,,,,,,,,,,,,
0,16700-16798 E 2nd Ave,Aurora,CO,80011-9302,"16700-16798 E 2nd Ave, Aurora, CO, 80011-9302",Match,Non_Exact,"16798 E 2ND AVE, AURORA, CO, 80011","-104.79353017099999,39.719276456000046",177398310,...,14,91,8,19,FALSE,FALSE,FALSE,NaN,NaN,NaN
1,332 Norfolk St,Aurora,CO,80011-9360,"332 Norfolk St, Aurora, CO, 80011-9360",Match,Non_Exact,"332 NORFOLK ST, AURORA, CO, 80011","-104.79579844699998,39.719786346000035",177564688,...,14,91,8,19,FALSE,FALSE,FALSE,NaN,NaN,NaN
2,16302-16392 E 2nd Ave,Aurora,CO,80011-9203,"16302-16392 E 2nd Ave, Aurora, CO, 80011-9203",Match,Non_Exact,"16392 E 2ND AVE, AURORA, CO, 80011","-104.79716007199994,39.71924103900005",177355981,...,14,91,8,19,FALSE,FALSE,FALSE,NaN,NaN,NaN
3,16404-16494 E 2nd Ave,Aurora,CO,80011-9221,"16404-16494 E 2nd Ave, Aurora, CO, 80011-9221",Match,Non_Exact,"16494 E 2ND AVE, AURORA, CO, 80011","-104.79599192999996,39.719256673000075",177355981,...,14,91,8,19,FALSE,FALSE,FALSE,NaN,NaN,NaN
4,16506-16596 E 2nd Ave,Aurora,CO,80011-9379,"16506-16596 E 2nd Ave, Aurora, CO, 80011-9379",Match,Non_Exact,"16596 E 2ND AVE, AURORA, CO, 80011","-104.79604107999995,39.71925601600003",177355981,...,14,91,8,19,FALSE,FALSE,FALSE,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2593,3571 S Tower Rd,Aurora,CO,80013,"3571 S Tower Rd, Aurora, CO, 80013",Match,Exact,"3571 S TOWER RD, AURORA, CO, 80013","-104.77255104199998,39.651275858000076",646209646,...,5,96,3,3,FALSE,FALSE,FALSE,NaN,NaN,NaN
2594,3607 S Tower Rd,Aurora,CO,80013,"3607 S Tower Rd, Aurora, CO, 80013",Match,Exact,"3607 S TOWER RD, AURORA, CO, 80013","-104.77255636699999,39.65071757800007",177549208,...,5,96,3,3,FALSE,FALSE,FALSE,NaN,NaN,NaN
2595,6150 S Tower Rd,Aurora,CO,80016,"6150 S Tower Rd, Aurora, CO, 80016",Match,Exact,"6150 S TOWER RD, AURORA, CO, 80016","-104.77598950499998,39.60346071300006",646616016,...,2,89,1,4,FALSE,FALSE,FALSE,NaN,NaN,NaN
2596,7711 S Parker Rd,Aurora,CO,80016-1456,"7711 S Parker Rd, Aurora, CO, 80016-1456",Match,Non_Exact,"7711 S PARKER RD, AURORA, CO, 80016","-104.79232606399995,39.57699136200006",612662342,...,1,94,6,0,FALSE,FALSE,FALSE,NaN,NaN,NaN
2597,20210 E Smoky Hill Rd,Aurora,CO,80016,"20210 E Smoky Hill Rd, Aurora, CO, 80016",Match,Non_Exact,"20210 E SMOKY HILL RD, AURORA, CO, 80015","-104.75334612499995,39.61083870200008",635544492,...,1,92,2,1,FALSE,FALSE,FALSE,NaN,NaN,NaN

In [45]:
# nonres3 = nonres[['census_tract_id', 'Census tract ID']]
nonres[nonres['Census tract 2010 ID'].isna()]['census_tract_id'].value_counts()
nonres = nonres[['Address', 'Identified as disadvantaged']]
nonres.to_csv(r"C:\Users\ltaylor2\Documents\BPS Charts\DisadvantagedStatusOfBuildingsAurora.csv")

In [42]:
# Put each building into a bin by floor area
def size_bin(row):
    sf = row['COM_GROSS_AREA']
    if sf < 1_000:
        b = '_1000'
    elif sf < 5_000:
        b = '1001_5000'
    elif sf < 10_000:
        b = '5001_10000'
    elif sf < 25_000:
        b = '10001_25000'
    elif sf < 50_000:
        b = '25001_50000'
    elif sf < 100_000:
        b = '50001_100000'
    elif sf < 200_000:
        b = '100001_200000'
    elif sf < 500_000:
        b = '200001_500000'
    elif sf < 1_000_000:
        b = '500001_1000000'
    else:
        b = 'over_1mil'

    return b

nonres['floor_area_category'] = nonres.apply(lambda row: size_bin(row), axis=1)

KeyError: 'COM_GROSS_AREA'

In [ ]:
# Put each building into a bin by floor area
def ownership_type(row):
    name = row['OWNER_NAME'].lower()
    if 'inv' in name:
        return 'investor'
    else:
        return 'non-investor'

nonres['owner_type'] = nonres.apply(lambda row: ownership_type(row), axis=1)

In [ ]:
# TODO merge in Energize Denver benchmarking data from
# https://www.denvergov.org/opendata/dataset/city-and-county-of-denver-energize-denver-anonymized-benchmarking-data

In [ ]:
# Calculate some fields

In [ ]:
# Save to CSV for plotting with Tableau
nonres.to_csv('parcels_with_ej.csv', index_label=nonres.index.name)

In [ ]:
nonres[['OWNER_NAME', 'owner_type', 'D_CLASS_CN', 'floor_area_category']].to_csv('ownership.csv')

In [ ]:
engy = pd.read_csv('./2020 Energize Denver Final Master Dataset.csv')

In [ ]:
engy

,Denver Building Id,Compliance Status,Property Name,Street,Zipcode,Year Built,Address Source,Address Type,Master Property Type,Primary Property Type - EPA Calculated,...,Electricity Use - Grid Purchase (kWh),Electricity Use Onsite Renewable (kWh),Green Power - Offsite (kWh),Green Power - Onsite (kWh),Natural Gas Use (kBtu),District Steam Use (kBtu),District Chilled Water use (kBtu),Total GHG Emissions (Metric Tons C02e),ENERGY STAR Certification Year(s) Cert,Recent Energy Star Certification
0,5111,Exempt,Budget Rental Car,24050 E 78th ave,80249,1996.0,Portfolio Manager,Building,Municipal,AUTOMOBILE DEALERSHIP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3022,Exempt,The Art Institute of Colorado (Main Campus),1200 Lincoln Street,80203,1962.0,Portfolio Manager,Building,College/University,College/University,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3770,Exempt,Driscoll North,2040 S. York St.,80208,1984.0,Portfolio Manager,Building,College/University,College/University,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3758,Exempt,Hilltop Hall,2280 S. Race St.,80208,1949.0,Portfolio Manager,Building,College/University,College/University,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1192,Exempt,Denver Bus Ctr #5,11175 E. 55th Ave,80239,1996.0,Portfolio Manager,Building,Distribution Center,Distribution Center,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3087,2505,Out of Compliance,NaN,955 LAWRENCE WAY,80204,1976.0,Assessor Data,Building,Institutional,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3088,2506,Out of Compliance,NaN,955 LAWRENCE WAY,80204,1976.0,Assessor Data,Building,Institutional,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3089,2507,Out of Compliance,NaN,955 LAWRENCE WAY,80204,1976.0,Assessor Data,Building,Institutional,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3090,2508,Out of Compliance,NaN,955 LAWRENCE WAY,80204,1976.0,Assessor Data,Building,Institutional,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3091,6175,Out of Compliance,SATORI APTS,958 N LINCOLN ST,80203,2019.0,Assessor Data,Building,Apartment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN